body {
  position: absolute;
  height: 100%;
  width: 100%;
}

#main_container {
 position:relative;
 width: 80%;
 height: 75%;
 margin: auto;
 padding-top: 80px;
 background-color: orange;
}

#header {
  position: relative;
  width:100%;
  background-color: green;
  margin: 0;
  color: black;
  padding: 10px 20px 10px 20px;
}

