<div class="smacktalk_ct" style="display:none">
  <form action="/group/<%=  %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="text" name="smacktalk" placeholder="e.g. You're lame!"><br><br>
    <input type="submit">
  </form>
</div>
