<div id="create_group_form">
  <form action="/group/new" method="POST">
    <label>Give your group a name!</label>
    <input type="text" name="group[name]" placeholder="e.g. Moosepocalypse"><br>
    <label>Invite friends!</label>
    <input type="text" name="user_group[email]" placeholder="Friend's Email"><br>
    <input type="submit">
  </form>
</div>
