<div id="group_name">
  <h1><%= @group.name.capitalize %></h1>
</div>

<div id="group_games_ct">
  <h1>Games</h1>
  <% @group.games.each do |game| %>
    <div class="show_game">
      <h2><%= game.name %></h2>
        <% if game.clashes.empty? %>
          <p>You haven't had any clashes yet!</p>
          <form action="/clash/new" method="POST" class="add_clash_button">
            <input type="hidden" name="game[id]" value="<%= game.id %>">
            <input type="submit" value="Add Clash">
          </form>
        <% else %>
          <ul>
          <% game.clashes.each do |clash| %>
            <span>Clash Date</span>
            <li>Winner: </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
    <form action="/game/new" method="POST" id="add_game_button">
      <input type="hidden" name="group[id]" value="<%= @group.id %>">
      <input type="submit" value="Add Game">
    </form>
</div>
