<div id="welcome_message">
  <h1>Sup <%= current_user.name.capitalize %>!?</h1>
  <h2>Check out your groups, or <a href="/group/new">create a new one</a></h2>
</div>

<div id="user_groups_ct">
  <% @groups.each do |group| %>
    <a href="/group/<%= group.id %>"><div class="show_group">
      <h2><%= group.name %></h2>
      <ul>
      <% group.users.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ul>
    </div></a>
  <% end %>
</div>
